<?php

// remove the following lines when in production mode
defined('YII_DEBUG') or define('YII_DEBUG', true);

// specify how many levels of call stack should be shown in each log message
defined('YII_TRACE_LEVEL') or define('YII_TRACE_LEVEL', 3);

// uncomment if need to use yiilite (only for production)
//defined('YII_LOAD_FILE') or define('YII_LOAD_FILE', dirname(__FILE__).'/../../../framework/yiilite.php');
